	<h1 style="font-size: 80px">Upload a square photo</h1>
	<h1 style="font-size: 80px;">Click Submit</h1>

	<form method='post' action='/create' enctype="multipart/form-data">
		<input type='file' name='user[avatar]' id='user[avatar]' style="width: 3000px;font-size: 100px;" size="1000" />
		<input type='submit' style="font-size: 100px;" />

	</form>